
body{
    background-color: #071E22;
    color: aliceblue;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.navBar{
    background-color: rgb(32, 31, 139);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em;
}
a:visited{
    color: white;
}
.navBar a{
    font-size: 2rem;
    padding-left: 1.3em;
    margin-left: 0.3em;
    background-repeat: no-repeat;
}
.navBar #id{
    flex-grow: 4;
}
.navBar #homeLink{
    background-image: url("./images/house.svg");
}
.navBar #projectLink{
    background-image: url("./images/briefcase.svg");
}
.navBar #aboutLink{
    background-image: url("./images/user.svg");
}

#root {
    /*background-image: url("./images/background-home-pexels-danny-meneses-340146-943096.jpg");*/
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.homeContent{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 95%;
}

 .homeText {
    position: absolute;
    top:10%;
    left: 10%;
    justify-content: center;
    text-align: center;
 }
 .homeImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
 }

#projectContent{
    text-align: center;
    background-color: #071E22;
    flex-grow: 1;
    width: 100%;
}

.projectCol {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 10rem;
}
.projectRow {
    display: flex;
    flex-direction: row;
}
.projectItem{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
    min-width: 30%;
    
    /*Change to all take up same space*/
}
.projectItem a{
    font-size: larger;
    
}

.projectItem a:visited{
    color: white;
}
.projectItem img{
    max-width: 300px;
    max-height: 300px;
    align-self: center;
}
.projectSpotlight{
    min-height: 30rem;
}
.spotlightItem{
    display: none;
}
.spotLightDisplay {
    display: flex;
    font-size: 1.5rem;
}
#aboutContent{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.aboutText{
    width: 40%;
    text-align: center;
}
.aboutText li{
    text-align: left;
    list-style-position: inside;
}

.headshot{
    position: fixed;
    top: 30;
    right: 0;
    width: 60%;

}

h1, h2, div{
    align-self: center;
}