
body{
    background-color: #071E22;
    color: aliceblue;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.navBar{
    background-color: #721817;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em;
}
.navBar a:visited{
    color: white;
}
.navBar a{
    font-size: 2rem;
    padding-left: 1.3em;
    margin-left: 0.3em;
    background-repeat: no-repeat;
}
.navBar #id{
    flex-grow: 4;
}
.navBar #homeLink{
    background-image: url("./images/house.svg");
}
.navBar #projectLink{
    background-image: url("./images/briefcase.svg");
}
.navBar #aboutLink{
    background-image: url("./images/user.svg");
}

#root {
    /*background-image: url("./images/background-home-pexels-danny-meneses-340146-943096.jpg");*/
    
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#mainContent{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    background-image: url("./images/background-home-pexels-danny-meneses-340146-943096.jpg");
    background-size: 100%;
}

#projectContent{
    text-align: center;
    background-color: rgb(87, 2, 51);
    flex-grow: 1;
    width: 100%;
}

.projectCol {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 10rem;
}
.projectRow {
    display: flex;
    flex-direction: row;
}
.projectItem{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.projectItem a{
    font-size: larger;
}

.projectItem a:visited{
    color: white;
}
.projectItem img{
    max-width: 300px;
    max-height: 300px;
    align-self: center;
}
.projectSpotlight{
    min-height: 25rem;
}
.spotlightItem{
    display: none;
}
.spotLightDisplay {
    display: flex;
}
#aboutContent{
    display: flex;
    flex-direction: row;
}
.headshot{

}

h1, h2, div{
    align-self: center;
}